.my-container{
background-color:#FFE6FD;
}

h2 {
  font-family: 'Dela Gothic One', sans-serif;
  color: #9D0091;
text-align: center;
    position: relative;
  border-radius: 6px;
}

.my-pic1 {
  max-width: 50%;
  height: auto;
   border-style: solid;
  border-color: #9D0091;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 10px;
}

p{   font-family: 'K2D', sans-serif;
  color: Black;
text-align: center;
    position: relative;
    border: 2px solid #9D0091;
  border-radius: 12px;
  padding: 10px;
  background-color: white;
}

p1{
  border: 2px solid #9D0091;
  border-radius: 12px;
  padding: 10px;
  background-color: white;
font-family: 'K2D', sans-serif;
  color: Black;
}

h5{ 
    font-family: 'Lato', sans-serif;
  color: #9D0091;
text-align: center;
    position: relative;
  border-radius: 6px;}

p3{
    font-family: 'K2D', sans-serif;
  color: Black;
text-align: center;
    position: relative;
}


.my-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 10px;
}

.my-pic2{  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 10px;
max-width: 80%;
  height: auto;}

.row2 {
  padding-right: 90px;
  padding-left: 90px;
}
.row3 {
  padding-right: 90px;
  padding-left: 90px;
}
.row4 {
  padding-right: 90px;
  padding-left: 90px;
}
.row5 {
  padding-right: 90px;
  padding-left: 90px;
}

.row5-1{
  border: 2px solid #9D0091;
  border-radius: 12px;
  padding: 10px;
  background-color: white;
}

.row6 {
  padding-right: 90px;
  padding-left: 90px;
}
.row6-1 {
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.row7 {
  padding-right: 90px;
  padding-left: 90px;
}

.row8 {
  padding-right: 90px;
  padding-left: 90px;
}

.row9 {
  padding-right: 90px;
  padding-left: 90px;
}
.my-con1{
background-color:#FFE6FD;
}

body{
  background-color:#FF40DA;}

.row0{
   background-color: white;
  border-right: #9D0091 solid 100px;
  border-left: #9D0091 solid 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact{
  padding-top: 30px;
  padding-bottom: 30px;
}


.my-ct{
  padding-bottom: 10px;
}

.row9{
padding-bottom: 20px;
}


.row11{
  background-color: #9D0091;
padding-top: 20px;
  padding-bottom: 20px;
}

h4{
  font-family: 'Dela Gothic One', sans-serif;
  color: #9D0091;
}


.row10-1{
  padding-right: 90px;
  padding-left: 90px;
}

.my-ct-2{
   padding-top: 30px;
  padding-bottom: 10px;
}

p6{
font-family: 'K2D', sans-serif;
}
