.my-container{
background-color:#FFE6FD;
}

h2 {
  font-family: 'Dela Gothic One', sans-serif;
  color: #9D0091;
text-align: center;
    position: relative;
  border-radius: 6px;
}

.my-pic1 {
   border-style: solid;
  border-color: #9D0091;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 10px;
}

p{   font-family: 'K2D', sans-serif;
  color: Black;
text-align: center;
    position: relative;
  border-radius: 6px;
}

h5{ 
    font-family: 'Lato', sans-serif;
  color: Black;
text-align: center;
    position: relative;
  border-radius: 6px;}

p3{
    font-family: 'K2D', sans-serif;
  color: Black;
text-align: center;
    position: relative;
  border-radius: 6px;}


.my-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 10px;
}

.my-pic2{  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 10px;}

.row2 {
  padding-right: 100px;
  padding-left: 100px;
}
.row3 {
  padding-right: 100px;
  padding-left: 100px;
}
.row4 {
  padding-right: 100px;
  padding-left: 100px;
}
.row5 {
  padding-right: 100px;
  padding-left: 100px;
}
.row6 {
  padding-right: 100px;
  padding-left: 100px;
}

.row7 {
  padding-right: 100px;
  padding-left: 100px;
}

.row8 {
  padding-right: 100px;
  padding-left: 100px;
}

.row9 {
  padding-right: 100px;
  padding-left: 100px;
}
.my-con1{
background-color:#FFE6FD;
}

body{
  background-color:#FF40DA;}

.row0{
   background-color: #f9fcff;
  border-right: #9D0091 solid 100px;
  border-left: #9D0091 solid 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.row9{
padding-bottom: 20px;
}

.row11{
  background-color: #9D0091;
padding-top: 20px;
  padding-bottom: 20px;
}

.contact{
    margin-left: auto;
  margin-right: auto;
max-width: 60%;
  height: auto;
}

.edu{
    margin-left: auto;
  margin-right: auto;
max-width: 80%;
  height: auto;
}
